org: kvadmin
service: user-service

provider:
  name: aws
  runtime: nodejs20.x
  versionFunctions: false
  stage: "dev"
  region: us-east-1
  httpApi:
    cors: true

functions:
  signup:
    handler: app/handler.signup
    events:
      - httpApi:
          path: /signup
          method: post
  login:
    handler: app/handler.login
    events:
      - httpApi:
          path: /login
          method: post
  verify:
    handler: app/handler.verify
    events:
      - httpApi:
          path: /verify
          method: get
      - httpApi:
          path: /verify
          method: post
  profile:
    handler: app/handler.profile
    events:
      - httpApi:
          path: /user
          method: post
      - httpApi:
          path: /user
          method: get
      - httpApi:
          path: /user
          method: put
  cart:
    handler: app/handler.cart
    events:
      - httpApi:
          path: /cart 
          method: post
      - httpApi:
          path: /cart
          method: get
      - httpApi:
          path: /cart
          method: put
  payment:
    handler: app/handler.payment
    events:
      - httpApi:
          path: /payment
          method: post
      - httpApi:
          path: /payment
          method: get
      - httpApi:
          path: /payment
          method: put
plugins:
  - serverless-offline
  # - serverless-plugin-typescript
